/*Source: https://www.w3schools.com/css/css_navbar.asp, permet de créer une bar de navigation*/
		body {
			margin: 0;
			padding: 0;
			background-color: #FFFAF0;
		}

		h2, p {
			margin: 10px;	
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			border: 1px solid #e7e7e7;
			background-color: #f3f3f3;
			position: fixed;
			top: 0;
			width: 100%;
		}

		ul li a {
			display: block;
			color: #666666;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 20px;
		}

		ul li a:hover:not(.active) {
			background-color: #dddddd;
		}

		ul li a.active {
			background-color: #04AA6D;
		}
		.belle {
			color: black;
			background-color: #DEB887;
			width: 75%;
			border-style: double;
			border-width: 5px;
			border-color: black;
			padding: 20px;
			margin: 20px;
		}
		.tableauinvisible {
			border: 1px #FFFAF0;
			border-collapse: collapse;
			padding: 15px;
			background-color: #FFFAF0;
		}
